{% extends 'base.html' %}
{% block page-id %}article{% endblock %}
{% block title %}{{ entry.title }} - {% endblock %}
{% block page-theme %}d{% endblock %}
{% block header %}
	<header data-role="header" data-theme="b">
		<a href="../" data-icon="arrow-l" data-rel="back" rel="external">Voltar</a>
		<h1>Últimas notícias</h1>
	</header>
{% endblock %}
{% block content %}
	<section data-role="content">
	
		<div class="entry">
		
			<div class="entry-title">
				<h2>{{ entry.title }}</h2>
			</div>
			
			<div class="entry-meta">
				<p><strong>Por</strong> {{ entry.author }} <strong>em</strong> <abbr title="{{ date }}">{{ date|date:"d/m/Y" }}</abbr></p>
			</div>
			
			<div class="entry-content">{{ entry.description }}</div>
			
		</div>
		
		<div class="share-this">
		
			<h3>Compartilhe:</h3>
		
			<div class="ui-grid-a">
				<div class="ui-block-a"><a href="http://facebook.com/sharer.php?u=http://ufesmobile.appspot.com/noticias/ler/?id={{ id }}&t={{ entry.title }}" target="blank" data-role="button" data-theme="b">Facebook</a></div>
				<div class="ui-block-b"><a href="http://twitter.com/home?status={{ entry.title }}: http://ufesmobile.appspot.com/noticias/ler/?id={{ id }}" target="_blank" data-role="button" data-theme="a">Twitter</a></div>
			</div>
		
			<p><a href="mailto:?subject={{ entry.title }}&body={{ entry.description|striptags }}" data-role="button" data-theme="c">Enviar notícia por email</a></p>

		</div>
		
	</section>
{% endblock %}