{% extends 'base.html' %}
{% block title %}Changelog - {% endblock %}
{% block page-theme %}c{% endblock %}
{% block header %}
	<header data-role="header" data-position="inline" data-theme="b">
		<a href="../" data-icon="arrow-l" data-rel="back" rel="external">Voltar</a>
		<h2>Changelog</h2>
	</header>
{% endblock %}
{% block content %}
	<section data-role="content">
	
		<div id="changes">
		
			<h3>2.2</h3>
			<ul>
				<li>removido: transições e AJAX que carregavam lentamente no Android</li>
				<li>novo: cardápio do RU (finalmente! =D)</li>
			</ul>
		
			<h3>2.1.1</h3>
			<ul>
				<li>correção: HTML mal-formatado</li>
				<li>novo: compartilhar via Facebook e Twitter</li>
				<li>novo: licença MIT, código fonte disponível via GitHub</li>
				<li>melhorado: textos e links diversos</li>
			</ul>
			<h3>2.1</h3>
			<ul>
				<li>geral: correção de bugs introduzidos com a nova versão</li>
				<li>novo: data e autor na notícia</li>
				<li>corrigido: link para enviar por email mais completo</li>
				<li>melhorado: messagem de carregamento em português</li>
				<li>corrigido: menus com tema "d" substituidos pelo tema "c"</li>
			</ul>
			<h3>2.0</h3>
			<ul>
				<li>novo: interface com jQuery Mobile</li>
				<li>melhorado: reformulação do código em Python</li>
				<li>melhorado: hospedagem no Google App Engine</li>
			</ul>
			<h3>1.0</h3>
			<ul>
				<li>CSS baseado no tema do jQTouch</li>
				<li>desenvolvido em PHP (<a href="http://www.youtube.com/watch?v=WWaLxFIVX1s">noooooo!</a>)</li>
			</ul>
		</div>
		
	</section>
{% endblock %}